---
title: "test"
layout: default
permalink: "/test.html"
myValue : ""
---

<script>
    function myFunction() {
        var x = document.getElementById("mySelect").value;
        {% assign page.myValue = x %}
    }
</script>

<ul>
    {% for member in site.data.members %}
    <li>
        <a href="{{ site.baseurl }}/{{ member.github }}">
            {{ member.name }}
        </a>
    </li>
    {% endfor %}
</ul>
 <!-- Content Area Start -->
 <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header-title">
            <h2 class="heading-title text-center">Comparision</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Pricing Start 01 -->
        <div class="col-md-4 col-sm-6">
          <div class="pricing-table">
            <div class="table-header">
                    <select id="mySelect" onchange="myFunction()">
                        <option value="Eric Mill">Eric Mill</option>
                        <option value="Parker Moore">Parker Moore</option>
                        <option value="Liu Fengyun">Liu Fengyun</option>
                    </select>
              <h3>
                Bluehost
              </h3>
            </div>
            <div class="plan">
              <h3 class="price">
                $ 49
              </h3>
            </div>
            <div class="plan-info">
            {% for member in site.data.members %}
              {% if member.name == {{ page.myValue }}' %}
              <p>
                {{ member.name }}
              </p>
              {% endif %}        
            {% endfor %}
              <div class="button-area">
                <a class="btn btn-common" href="#">
                      Get Started
                    </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="pricing-table">
            <div class="table-header">
              <h3>
                Developer
              </h3>
            </div>
            <div class="plan">
              <h3 class="price">
                $ 79
              </h3>
            </div>
            <div class="plan-info">
              <p>
                Unlimited domains
              </p>
              <p>
                1 developer
              </p>
              <p>
                Unlimited source code
              </p>
              <p>
                Free updates forever
              </p>
              <div class="button-area">
                <a class="btn btn-common" href="#">
                    Buy Now
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="pricing-table">
            <div class="table-header">
              <h3>
                Business
              </h3>
            </div>
            <div class="plan">
              <h3 class="price">
                $ 159
              </h3>
            </div>
            <div class="plan-info">
              <p>
                Unlimited domains
              </p>
              <p>
                Unlimited developer
              </p>
              <p>
                Unlimited source code
              </p>
              <p>
                Free updates forever
              </p>
              <div class="button-area">
                <a class="btn btn-common" href="#">
                    Buy Now
                  </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Pracing End 01 -->
      </div>
    </div>
  </div>